@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  background: linear-gradient(135deg, #288c52, #17c05f);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
  padding: 1.5rem 1rem 0.75rem;
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  /* margin-top: 2rem; */
  position: relative;
  border-radius: 8px 8px 0 0;
}

/* مرکزچین کردن محتوا */
.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.section {
  flex: 1;
  min-width: 220px;
}

.section h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.section p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.socialLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socialLink:hover {
  color: #f1f1f1;
}

.copy p {
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 0.75rem;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }
}
